ul{
background-color: rgb(57, 124, 57);
list-style-type: none;
border: 2ch double rgb(247, 241, 227);
font-family: "Times New Roman", Times, serif;
color:rgb(247, 241, 227);
}

.gallery{
    border: 3ch wheat  dotted;

}

.button{
    border: 3ch rgb(15, 14, 12)  dotted; 
}

