ul{
background-color: rgb(106, 174, 106);
list-style-type: none;
border: 1ch double rgb(247, 241, 227);
font-family: "Times New Roman", Times, serif;
color:rgb(247, 241, 227);
font-size: 20px;
display: flexbox;
}

.back{
    height: 200px;
    width: 200px;
    background-color: rgb(106, 174, 106);
    text-align: center;
}

.gallery{
    border: 3ch wheat  dotted;

}

.button{
    border: 3ch rgb(15, 14, 12)  dotted; 
}

img {
    border: .5ch solid rgb(247, 241, 227);
  }