.App {
  text-align: center;

}

.App-header {
  background-color: rgb(57, 124, 57);
  padding: 1em;
  color:rgb(247, 241, 227);
  margin-bottom: 1em;
  border: 2ch double rgb(247, 241, 227);

}

.App-title {
  font-size: 5em;
  font-family: "Times New Roman", Times, serif;
  

  
}

